{% extends "base.html" %}

{% block content %}

<div class="hero">
    <h1>Build Real Python Skills</h1>
    <p>Learn concepts. Solve challenges. Execute code instantly — all in one platform.</p>

    <div class="button-group">

    <a href="/tutorials" class="btn-main btn-primary">
        Tutorials
    </a>

    <a href="/practice" class="btn-main btn-success">
        Practice Problems
    </a>

    <a href="/compiler" class="btn-main btn-warning">
        Online Compiler
    </a>

</div>
</div>

{% endblock %}